:root{
  --mainBlue:#2a2a72;
  --mainWhite:#f3f3f3;
  --mainDark:#232528;
  --mainYellow:#ffa400;
  --lightBlue:#009ffd;
}

body{
  font-family: 'Roboto Slab', serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}
.text-title{
 font-family: 'Permanet Marker' , cursive;
letter-spacing: 0.3rpm;
text-transform: uppercase;
}
.text-blue{
  color : var(--mainBlue);
}
.text-bright{
  color: var(--mainYellow);
}
